$corMsgCadastroLogin: grey;
$width-carrossel: 700px;
$height-carrosel: 470px;
$paddingImgs: 30px 0px;

.bemVindo{
    padding: 15px 0px 0px;
}

.headerPag{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: #FFF;
}

.paragrafoCinza{
    color: $corMsgCadastroLogin;
}

.divCarrosel{
    padding: $paddingImgs;
}

.tamanhoImgCarrosel{
    width: $width-carrossel;
    height: $height-carrosel;
}

.textoJustificado{
    text-align: justify;
}

.imgContato{
    padding-left: 20px;
}

.containerContateNos {
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
input {
padding: 8px;
width: 100%;
box-sizing: border-box;
}

.form-control {
    margin: $paddingImgs;
    text-align: center;
}